<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Detalles de Reserva</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <header>
        <h1>Detalle de Reserva</h1>
    </header>

    <main>
        <section class="detalle-reserva">
            <h2>Información de la Reserva</h2>
            <ul class="detalle-list">
                <li><strong>ID:</strong> <%= reserva.id %></li>
                <li><strong>Hora inicio:</strong> <%= reserva.data_hora_inici %></li>
                <li><strong>Hora final:</strong> <%= reserva.data_hora_fin %></li>
                <li><strong>Estado:</strong> <%= reserva.estat %></li>
                <li><strong>ID Usuario:</strong> <%= reserva.idUsuari %></li>
                <li><strong>ID Recurso:</strong> <%= reserva.idRecurs %></li>
            </ul>
            <div class="links-detalles">
                <a href="/reserves" class="btn-volver">Volver a Reservas</a>
            </div>
        </section>
    </main>
</body>

</html>
