<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserves</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>Detall de Reserves</h1>
    </header>
    <main>
        <section>
            <h2>Detall Reserva</h2>
            <ul class="product-list">
                <li class="product-item">
                    <span>Tipus: <%= reserva.tipus %></span>
                    <span>Hora inici: <%= reserva.hora_inici %> </span>
                    <span>Hora final: <%= reserva.hora_final %> </span>
                    <span>Estat: <%= reserva.estat %> </span>
                    <span>Id d'usuari: <%= reserva.idUsuari %></span>
                    <span>Id del recurs: <%= reserva.idRecurs %></span>
                </li>
            </ul>
            <div class="links-detalles"><a href="/reserves" class="btn-editar">Volver</a></div>
        </section>
    </main>
</body>

</html>